
body{background-color: rgb(240, 193, 209);}
body{background-image: linear-gradient(to direçãoDoGradiente, PrimeiraCordoGradiente, SegundaCorDoGradiente);}
body{text-align: center;}
footer{text-align: left;}
